@import url("https://fonts.googleapis.com/css2?family=Hahmlet&family=Inter&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template: 
    "header" auto
    "main"  1fr
    "footer" auto;
}
header {
    grid-area: header;
    background-color: #0F969C;
}
header img {
    margin: 5px 10px;
}
main {
    grid-area: main;
    background-color: #6DA5C0;
}
main * {
    margin: 0px;
}
h1 {
    margin: 0px;
    align-self: center;
    font-family: "Sigmar", cursive;
    font-weight: bolder;
}
#bienvenida {
    text-align: center;
    font-weight: 700;
    padding: 10px;
    border-top: 10px solid ;
    border-image: linear-gradient(#0F969C,#6DA5C0) 100 / 10px 0px 0px;
}
#inicio {
    border-bottom: 10px solid white ;
    border-image: linear-gradient(#6DA5C0, #0F969C) 100% /0px 100% 20px;
}
#inicio > div {
    padding: 10px 20px;
}
#inicio button {
    background-color: #294D61;
    color: white;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.5s;
}
#inicio button, #inicio button p{
    font-family: "Sigmar", cursive;
}
#inicio button:disabled {
    filter: grayscale(75%);
}
#select > div {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 4fr 4fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2vw ;
}
#pokemons {
    grid-area: 1/2 ;
}
#paises {
    grid-area: 1/3 ;
}
#animales {
    grid-area: 2/2;
}
#clasico {
    grid-area: 2/3;
}
.fila {
    display: flex;
    justify-content: center;
    width: 100%;
}
input {
    border-radius: 5px;
    text-align: center;
}

.letter {
    max-width: 37px;
    max-height: 37px;
    width: calc(((100% - 6px) / 10) - 2px);
    height: calc(((100vw - 6px) / 10) - 2px);
    color: black;
    margin: 3px 1px;
    transition: all 0.5s;
}

.dropdown-menu {
    border: 2px solid #06151A;
    background-color: #0F969C;
    color: white;
}

.dropdown-menu table{
    color:white;
    --bs-table-striped-bg: #0C7075;
}
#tablero {
    display: grid;
    grid-template: 
    "imagen categoria" auto
    "imagen titulo" auto
    "imagen vidas" auto
    "imagen palabra" 1fr
    "imagen letras" 1fr/30% 70%;
    padding: 10px 10vw;
}
#category {
    grid-area: categoria;
    text-align: center;
}
#title {
    grid-area: titulo;
    text-align: center;
}
#imagen {
    grid-area: imagen;
    display: flex;
    align-items: center;
}
#lifes {
    grid-area: vidas;
    text-align: center;
}
#lifes p {
    margin: 0px;
}
#word-in-game {
    grid-area: palabra;
    display: flex;
    justify-content: center;
    align-items: center;
}
#letters {
    grid-area: letras;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}


.letras {
    max-width: 35px;
    height: 35px;
    margin: 2px;
    background-color: white;
    border: solid 2px black;
    text-align: center;
    font-size: larger;
    flex: auto;
}


svg {
    stroke: black;
    stroke-width: 3px;
}
.dibujo {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dibujar 3s ease-in forwards;
}
@keyframes dibujar {
    to{
        stroke-dashoffset: 0;
    }
}
#names {
    display: flex;
    flex-wrap: wrap;
}
#names>* {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}
#names>* label {
    padding-left: 3px;
    margin-right: 3px;
}
.no-ok *, .fallo {
    background-color: red;
    color: white;
}
.ok *, .acierto {
    background-color: green;
    color: white;
}

#saveNames {
    width: 100%;
}

#piePagina {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(#6DA5C0, 50%, #0F969C);
}

#puntajes button {
    width: 100vw;
    padding: 0px;
}

tr * {
    text-align: center;
}
tr .name {
    text-align: left;
}

.dropdown-center .dropdown-menu {
    min-width: 50vw;
}
.dropup .dropdown-menu {
    min-width: 60vw;
}
#numberofplayers {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#numberofplayers button {
    margin: 10px;
}

@media screen and (max-width: 768px) {
    body {
        height: 100vh;
    }
    #select > div {
        grid-template-columns: 1fr 5fr 5fr 1fr;
    }
    #select img {
        /* width: 10px; */
    }
    #tablero {
        grid-template: 
        "categoria categoria" auto
        "titulo vidas" auto
        "imagen imagen" auto
        "palabra palabra" auto
        "letras letras" auto;
        padding: 3px;
    }
    #imagen {
        display: flex;
        justify-content: center;
    }
    #imagen svg{
        height: 45vh;
    }
    #word-in-game {
        margin: 10px 0px;
    }
    #letters {
        padding: 10px 0px;
    }
    .dropup .dropdown-menu {
        width: 100vw;
    }
    .dropup .dropdown-menu {
        min-width: 60vw;
    }
    #names>* {
        flex-direction: column;
    }
    #piePagina {
        justify-content: space-between;
    }
    
}

footer {
    grid-area: footer;
    background:#0F969C;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p {
    margin: 0px;
    font-size: small;
}
footer .contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .contacto div img {
    margin: 4px;
    width: 20px;
    filter: grayscale(100%);
    transition: all 0.5s;
}
footer .contacto div img:hover {
    filter: none;
    animation: hover 0.3s;
}
@keyframes hover {
    0% {
        transform: rotate(-20deg) scale(110%);
    }
    50% {
        transform: rotate(20deg) scale(110%);
    }
    100% {
        transform: rotate(-20deg) scale(110%);
    }
}

#bandera {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
}
#bandera img {
    border: 1px solid black;
}

.btn-secondary {
    --bs-btn-bg: #072E33;
    --bs-btn-active-bg: #06151A;
    --bs-btn-border-color: #072E33;
    --bs-btn-hover-bg: #052529;
}
